.login{
    background-color: white !important;
    position: relative;
}
.footer{
    position: relative;
}
body{
    background-color: white;
}
.auth-box{
    margin: 0;
    padding: 0;
}
.btn-primary{
    background-color: var(--main-site-color);
    border: 1px solid var(--main-site-color);
    opacity: 0.7;
}
.btn-primary:hover{
    background-color: var(--main-site-color);
    border: 1px solid var(--main-site-color);
    opacity: 0.9;
}
.btn-primary:active{
    background-color: var(--main-site-color) !important;
    border: 1px solid var(--main-site-color);
    opacity: 1;
}
.cr{
    border: 2px solid var(--main-site-color) !important;
}
.form-control:focus{
    border-color: var(--main-site-color) !important;
}
.helper::before{
    border-color: var(--main-site-color) !important;
}
.helper::after{
    border-color: var(--main-site-color) !important;
    background-color: var(--main-site-color) !important;
}

.reg_success_block{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reg_success_img{
    margin-top: 25px;
}

.reg_success_text{
    padding: 50px 20px 40px 20px; 
    color: #555555; 
    font-family: Arial, sans-serif; 
    font-size: 20px; 
    line-height: 30px; 
    border-bottom: 1px solid #f6f6f6;
    max-width: 700px;
    margin: 0 auto;
}

.reg_success_resend{
    margin-top: 25px;
}

.open-mail{
    width: 300px;
    margin: 0 auto;
}

.header a:hover{
    color: white;
}